<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<tr align="center">-->
<!--    <form action="{% url 'checks:count' %}" method="post">-->
<!--        {% csrf_token %}-->
<!--        <td > White & Black list Table 총 개수 조회 </td>-->
<!--        <td><input type="submit" value="조회하기"></td>-->
<!--    </form>-->
<!--</tr>-->
<!--<tr align="center">-->
<!--    <form action="{% url 'checks:checkHashResult' %}" method="post">-->
<!--        {% csrf_token %}-->
<!--        <td>인증서 hash 조회</td>-->
<!--        <td><input type="text" id="cert_sha1_hash" name="cert_sha1_hash" placeholder="cert_sha1 hash 값을 입력하세요!">-->
<!--        <input type="submit" value="조회하기"></td>-->
<!--    </form>-->
<!--</tr>-->

<!--<tr>-->
<!--    <td colspan="3" align="center">-->
<!--        {% if id == 1 %}-->
<!--            Whitelist와 Blacklist에 모두 존재합니다. <br><br>-->
<!--            whitelist내의 총 개수는 {{ whiteCnt }}이고-->
<!--            blacklist내의 총 개수는 {{ blackCnt }} 입니다.-->

<!--        {% elif id == 2 %}-->
<!--            whitelist에만 존재합니다. <br><br>-->
<!--            whitelist내의 총 개수는 {{ whiteCnt }}입니다.-->

<!--        {% elif id == 3 %}-->
<!--            Blacklist에만 존재합니다. <br><br>-->
<!--            blacklist내의 총 개수는 {{ blackCnt }} 입니다.-->

<!--        {% else %}-->
<!--            요청하신 데이터는 존재하지 않습니다.-->
<!--        {% endif %}-->
<!--    </td>-->
<!--</tr>-->
</body>
</html>